<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="nGemSource" value="http://ngem.devplex.net/gems"/>
    <add key="nGemSourceUserName" value="GemsUser" />
    <add key="nGemSourcePassword" value="GemsPassw0rd!" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
